<section class="container">
    <div *ngIf="auth.user | async as user; else showLogin">
        <h1>Hello {{ user.displayName }}!</h1>
        <button (click)="logout()">Logout</button>
    </div>
    <ng-template class="container" #showLogin>
        <h1 class="title is-1">Login</h1>

        <form class="box" (submit)="emailLogin()">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input type="email" class="input form-control" placeholder="Email..." [formControl]="emailControl" />            
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input type="password" class="input form-control" placeholder="Password..." [formControl]="passwordControl" />
                </div>
            </div>
            <div class="field">
                <button *ngIf="!loading" type="submit" class="button is-primary" [disabled]="!isValid()">Login</button>
                <button *ngIf="loading && !error" class="button is-loading is-primary" disabled></button>
                <p *ngIf="error" class="help is-danger">An error has occurred. Please verify the email provided belongs to an existing account.</p>
            </div>
            <a href="/sign-up" class="button is-link is-light">Sign Up with Email</a>
        </form>

        <div class="box social">
            <h3 class="title is-3">Social Login</h3>
            <button (click)="googleLogin()" class="button block google">
                <fa-icon [icon]="googleIcon" size="lg"></fa-icon>
                Sign in with Google
            </button>
            <span class="spacer"></span>
            <button (click)="twitterLogin()" class="button block twitter">
                <fa-icon [icon]="twitterIcon" size="lg"></fa-icon>
                Sign in with Twitter
            </button>
            <span class="spacer"></span>
            <button (click)="facebookLogin()" class="button block fb">
                <fa-icon [icon]="fbIcon" size="lg"></fa-icon>
                Sign in with Facebook
            </button>
        </div>
    </ng-template>
</section>