<div *ngIf="loading; else profile" class="whole-page-loading">
    <progress class="progress is-large is-primary" max="100">15%</progress>
</div>

<ng-template #profile>
    <app-user-details-form *ngIf="editForm" [user]="user" (closeForm)="toggleEditForm($event)"></app-user-details-form>

    <div *ngIf="user !== null;">
        <button *ngIf="!editForm" class="button is-primary" (click)="toggleEditForm(true)">Edit Profile</button>
        <button class="button is-primary" (click)="toggleDogForm(true)">Add Dog</button>

        <app-dog-form *ngIf="newDogFormOpen" (isOpen)="toggleDogForm($event)"></app-dog-form>

        <app-dogs></app-dogs>
    </div>
    <button (click)="logout()">Logout</button>
</ng-template>
